body 	{font-family: Garamond , ADLaM Display, Arial;
		font-size: 15pt; background:beige;}
		
h1 {font-size:xxx-large;color: #660033;}
h2 {font-size:xx-large;color: #660033;}
h3	{font-size:x-large;color: #660033;}
a  		{text-decoration: none;
		color: #660033;}

a:hover {background: #660033;
		color: beige;}
		
img		{border-color: transparent;}

span.big {font-size: 20pt}
		span {font-weight:bold; font-family: 'ADLaM Display'}
		
		mark {
  background-color: grey;
  color: white;
}
		img.align-left	{float: left; 
				margin-left: 5px; 
				margin-right: 5px;}
  
img.align-right	{float: right; 
				margin-left: 5px; 
				margin-right: 50px;}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;background-color: lightgrey;

}
ul.nav li {
  float: left;
}

ul.nav li.img {
  float: right;margin-top: 5px;margin-right: 5px;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #660033; color:beige;
}



* {box-sizing:border-box}

img.slide {
  display: block;
  margin: auto;
  width: 50%;
}

.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #660033;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); color: #660033;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#video {margin-bottom:80; width:500;}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}